<!--
<div class="phase-banner-alpha" style="overflow: auto;">
    <div style="float:left">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <div style="float:right;">
        <p>Andrew Jones: <a href="/rave/log-in">Log out</a></p>
    </div>
</div>
-->

<div class="phase-banner">
    <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        <span style="float:right;">Andrew Jones: <a href="/rave/log-in">Log out</a></span>
    </p>
</div>