<div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1" style="display: none">
    <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>

    <p>Please amend the following details:</p>
    <ul class="error-summary-list">
        <li class="nationalInsurance error-message"><a href="#nationalInsurance">Provide National Insurance number for the Disability exemption certificate holder</a></li>
        <li class="DOB error-message"><a href="#dob-day">Provide the date of birth for the disability exemption certificate holder</a></li>
        <li class="surname error-message"><a href="#surname">Provide the First 3 characters of disability exemption certificate holders</a></li>
    </ul>
</div>