<div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1" style="display: none">
    <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>

    <p>Please amend the following details:</p>
    <ul class="error-summary-list">
        <li class="pCode error-message"><a href="#pCode">Provide a valid postcode</a></li>
        <li class="fNum error-message"><a href="#fNum">Provide a valid fleet number</a></li>
        <li class="full error-message"><a href="#pCode">Don't fill so much in</a></li>
    </ul>
</div>