<div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1" style="display: none">
    <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>

    <p>Please amend the following details:</p>
    <ul class="error-summary-list">
        <li class="firstName error-message" style="display: none;"><a href="#firstName">Provide a first name</a></li>

        <li class="lastName error-message" style="display: none"><a href="#lastName">Provide a last name</a></li>
        
        <li class="phoneNum error-message" style="display: none"><a href="#phoneNum">Provide a contact telephone number</a></li>
        
        <li class="qemailAddress error-message b"><a href="#emailAddress">Provide your email address</a></li>

        <li class="qemailAddressConfirm error-message c"><a href="#emailAddressConfirm">Confirm your email address</a></li>

        <li class="pr5B error-message d"><a href="#pr5B">The email addresses you have provided do not match</a></li>
    </ul>
</div>