<div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1" style="display: none">
    <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>

    <p>Please amend the following details:</p>
    <ul class="error-summary-list">
        <li class="address error-message" style="display: none;"><a href="#address">Provide an Address</a></li>
        
        <li class="townCity error-message" style="display: none"><a href="#townCity">Provide a Town or City</a></li>
        
        <li class="postCode error-message" style="display: none"><a href="#postCode">Provide a Postcode</a></li>
    </ul>
</div>