<div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1" style="display: none">
    <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>

    <p>Please amend the following details:</p>
    <ul class="error-summary-list">
        <li class="suppliercode error-message" style="display: none;"><a href="#qsuppliercode">Provide a valid supplier code</a></li>
        
        <li class="price error-message" style="display: none"><a href="#qprice">Provide a valid price</a></li>
        
        <li class="vin error-message" style="display: none"><a href="#qvin">Provide a valid VIN, chassis or frame number</a></li>
        
        <li class="make error-message" style="display: none"><a href="#qmake">Provide a valid make code</a></li>
        
        <li class="model error-message" style="display: none"><a href="#qmodel">Provide a valid model code</a></li>
        
        <li class="enginenumber error-message" style="display: none"><a href="#qenginenumber">Provide a valid engine number</a></li>
        
        <li class="bodytype error-message" style="display: none"><a href="#qbodytype">Provide a valid body type code</a></li>

        <li class="cylindercapacity error-message" style="display: none"><a href="#qcylindercapacity">Provide a valid cylinder capacity</a></li>

        <li class="wheelbase error-message" style="display: none"><a href="#qwheelbase">Provide a valid wheelbase</a></li>

        <li class="wheelplan error-message" style="display: none"><a href="#qwheelplan">Provide a valid wheelplan</a></li>
        
        <li class="colour error-message" style="display: none"><a href="#qcolour">Provide a valid main colour</a></li>
        
        <li class="colour2 error-message" style="display: none"><a href="#qcolour2">Provide a valid second colour</a></li>

        <li class="typeApp error-message" style="display: none"><a href="#qtypeApp">Provide a valid type approval number</a></li>

        <li class="massinservice error-message" style="display: none"><a href="#qmassinservice">Provide a valid mass in service</a></li>

        <li class="type error-message" style="display: none"><a href="#qtype">Provide a valid manufacturer vehicle type</a></li>

        <li class="variant error-message" style="display: none"><a href="#qvariant">Provide a valid variant</a></li>

        <li class="version error-message" style="display: none"><a href="#qversion">Provide a valid version</a></li>

        <li class="propulsion error-message" style="display: none"><a href="#qpropulsion">Provide a valid propulsion value</a></li>
        
        <li class="seatingcapacity error-message" style="display: none"><a href="#qseatingcapacity">Provide a valid number of seats (including driver)</a></li>
        
        <li class="eustatusdirno error-message" style="display: none"><a href="#qeustatusdirno">Provide a valid European status directive number</a></li>

        <li class="axle1min error-message" style="display: none"><a href="#qaxle1min">Provide a valid axle 1 track width minimum</a></li>

        <li class="axle1max error-message" style="display: none"><a href="#qaxle1max">Provide a valid axle 1 track width maximum</a></li>

        <li class="axle2min error-message" style="display: none"><a href="#qaxle2min">Provide a valid axle 2 track width minimum</a></li>

        <li class="axle2max error-message" style="display: none"><a href="#qaxle2max">Provide a valid axle 2 track width maximum</a></li>

        <li class="axle3min error-message" style="display: none"><a href="#qaxle3min">Provide a valid axle 3 track width minimum</a></li>

        <li class="axle3max error-message" style="display: none"><a href="#qaxle3max">Provide a valid axle 3 track width maximum</a></li>

        <li class="grossrevweight error-message" style="display: none"><a href="#qgrossrevweight">Provide a valid gross or revenue weight</a></li>
        
        <li class="unladenweight error-message" style="display: none"><a href="#qunladenweight">Provide a valid unladen weight</a></li>
        
        <li class="msdtype error-message" style="display: none"><a href="#qmsdtype">Provide a valid MSD type</a></li>
        
        <li class="smmtfc error-message" style="display: none"><a href="#qsmmtfc">Provide a valid <abbr title="Society of Motor Manufacturers &amp; Traders">SMMT</abbr> fleet code</a></li>
        
        <li class="co2 error-message" style="display: none"><a href="#qco2">Provide a valid CO2 value</a></li>
        
        <li class="co error-message" style="display: none"><a href="#qco">Provide a valid CO value</a></li>
        
        <li class="nox error-message" style="display: none"><a href="#qnox">Provide a valid NOx value</a></li>
        
        <li class="particulates error-message" style="display: none"><a href="#qparticulates">Provide a valid particulates value</a></li>
        
        <li class="hc error-message" style="display: none"><a href="#qhc">Provide a valid HC value</a></li>
        
        <li class="hcnox error-message" style="display: none"><a href="#qhcnox">Provide a valid HC + NOx value</a></li>
        
        <li class="length error-message" style="display: none"><a href="#qlength">Provide a valid length</a></li>
        
        <li class="width error-message" style="display: none"><a href="#qwidth">Provide a valid width</a></li>
        
        <li class="maxpermass error-message" style="display: none"><a href="#qmaxpermass">Provide a valid maximum permissible mass</a></li>
        
        <li class="maxpower error-message" style="display: none"><a href="#qmaxpower">Provide a valid maximum net power</a></li>
        
        <li class="stationary error-message" style="display: none"><a href="#qstationary">Provide a valid stationary sound level</a></li>
        
        <li class="enginespeed error-message" style="display: none"><a href="#qenginespeed">Provide a valid engine speed sound level</a></li>
        
        <li class="driveby error-message" style="display: none"><a href="#qdriveby">Provide a valid drive by sound level</a></li>
        
        <li class="tamancode error-message" style="display: none"><a href="#qtamancode">Provide a valid type approval manfacturer code</a></li>
        
        <li class="mvris error-message" style="display: none"><a href="#qmvris">Provide a valid MVRIS</a></li>
        
        <li class="mvrisMake error-message" style="display: none"><a href="#qmvrisMake">Provide a valid MVRIS make</a></li>

        <li class="mvrisModel error-message" style="display: none"><a href="#qmvrisModel">Provide a valid MVRIS model</a></li>
        
        <li class="datepicker error-message" style="display: none"><a href="#qdatepicker">Provide a valid initial date of registration</a></li>

        <li class="lhdrhd error-message" style="display: none"><a href="#qlhdrhd">Provide a valid LHD or RHD</a></li>

        <li class="countryorigin error-message" style="display: none"><a href="#qcountryorigin">Provide a valid country of origin</a></li>

        <li class="countryenteu error-message" style="display: none"><a href="#qcountryenteu">Provide a valid country of entry to European union</a></li>
    </ul>
</div>