<details class="margin-top-0-5">
    <summary>
        <span class="summary">Where to find the 11 digit reference number</span>
    </summary>

    <div class="panel panel-border-narrow">
        <p>To view the tax rates of the vehicle you need to provide the 11 digit reference number. This can be found on the front of your latest V5C registration certificate (logbook)</p>
        <img src="/public/images/v5c-diagram.png" width="278px" height="160px" alt="Image showing the 11 digit reference number on the front of a V5C registration certificate (logbook)" >
    </div>
</details>