<div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1" style="display: none">
    <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem signing in</h1>

    <p>Please amend the following details:</p>
    <ul class="error-summary-list">
        <li class="vehReg error-message" style="display: none;"><a href="#qvehReg">Provide a valid registration number</a></li>

        <li class="refNum error-message" style="display: none"><a href="#qrefNum">The reference number you have provided is less than 11 digits long</a></li>
    </ul>
</div>