{% extends "layout.html" %} {% block page_title %} Ref number {% endblock %} {% block head %} {% include "includes/head.html" %} {% include "includes/scripts.html" %} {% endblock %} {% import "templates/button.html" as button %} {% block content %}
<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %} {% include "includes/buttons/back.html" %}
    <div class="grid-row" id="pr3">
        <div class="column-two-thirds">
            <h1 class="heading-large"> 12321134143434 (customer ref num) </h1>
            <form class="form">
                <p>Need to include email for the customer, postal contact details explination that the eu licence needs to be inspected before uk licence issued</p>
                <!-- need to explain and ask for the customers email solely for sending the conf code -->

            </form>
        </div>
    </div>
</main>



{% endblock %}