{% extends "layout.html" %} {% block page_title %} member1 {% endblock %} {% block head %} {% include "includes/head.html" %} {% include "includes/scripts.html" %} {% endblock %} {% import "templates/button.html" as button %} {% block content %}
<main id="content" role="main">


    <div class="column-two-thirds">
        <h1 class="heading-large">what to member?</h1>
        <input type="text" id="saleType" />






    </div>

</main>

<script>
    member.typeOfSale = $('#saleType').val() {

    };
</script>

{% endblock %}