{% extends "layout.html" %} {% block page_title %} What are you applying for? {% endblock %} {% block head %} {% include "includes/head.html" %} {% include "includes/scripts.html" %} {% endblock %} {% import "templates/button.html" as button %} {% block content %}
<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %} {% include "includes/buttons/back.html" %}
    <div class="grid-row" id="pr3">
        <div class="column-two-thirds">
            <h1 class="heading-large"> Your test pass certificate </h1>
            <form class="form">
                <img src="/public/images/driving%20cert.png" alt="Pass certificate">
                <!--  end .form-group  -->
                {{ button.input(id='continue', name='continue', class='button', type='button', value='Confirm') }}
            </form>
        </div>
    </div>
</main>

<script type="text/javascript">
    $(".button").click(function () {
        // Enter function name here
        validate();
    });

    function validate() {
        go('/derek/confirmation.html');
    }
</script>

{% endblock %}