{% extends "layout.html" %} {% block page_title %} Verify {% endblock %} {% block head %} {% include "includes/head.html" %} {% include "includes/scripts.html" %} {% endblock %} {% import "templates/button.html" as button %} {% block content %}
<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %} {% include "includes/buttons/back.html" %}
    <div class="grid-row" id="pr3">
        <div class="column-two-thirds">
            <h1 class="heading-large"> Payment Successful </h1>
            <form class="form">
                <p>Your payment has been successfull, please wait x ammount of days for your driving licence to arrive in the post</p>


            </form>
        </div>
    </div>
</main>



{% endblock %}