{% extends "layout.html" %} {% block page_title %} Process {% endblock %} {% block head %} {% include "includes/head.html" %} {% include "includes/scripts.html" %} {% endblock %} {% import "templates/button.html" as button %} {% block content %}
<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %} {% include "includes/buttons/back.html" %}
    <div class="grid-row" id="pr3">
        <div class="column-two-thirds">

            <table>
                <thead>
                    <tr>
                        <th colspan="2">Started</th>
                        <th colspan="2">Licence Recieved</th>
                        <th colspan="2">Licence Verified</th>
                        <th colspan="2">UK Licence issed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">5th June 2010</td>
                        <td colspan="2">8th June 2010</td>
                        <td colspan="2">10th June 2010</td>
                        <td colspan="2">In Progress</td>
                    </tr>



                </tbody>
            </table>


            </form>
        </div>
    </div>
</main>



{% endblock %}